<div class="m-3">
  <h2>Select files to import</h2>
  <div class="">
    <input type="file" (change)="onChange($event)" class="mt-3" />

    <div class="buttons-row mt-4">
      <button nbButton (click)="onUpload()" hero>Import</button>
    </div>
  </div>

  <!-- Shareable short link of  uoloaded file -->
  <div class="container text-center jumbotron mt-3" *ngIf="shortLink">
    <h2>Visit Here</h2>
    <a href="{{ shortLink }}">{{ shortLink }}</a>
  </div>

  <!--Flag variable is used here-->
  <div class="col-12 py-3" *ngIf="loading">
    <button class="button" [disabled]="loading" (click)="onUpload()">
      <img style="width: 24px" src="../../../../assets/images/spinner.gif" />
      Loading
    </button>
  </div>
</div>
