.icon-menu::before{
    content: none !important;
}
.icon-menu{
    font-family: "Nunito",sans-serif;
}
::ng-deep.sticky-note {
    z-index: 13!important;
}
.title {
    padding-right: 12px;
    width: 150%;
}