<div id="header_top" class="header_top dark">
    <div class="container">
        <div class="hleft">
            <a class="header-brand" [routerLink]="['/attendance']" href="javascript:void(0)"><i
                    class="fe fe-command brand-logo"></i></a>
            <div class="dropdown">
                <a [routerLink]="['/search']" href="javascript:void(0)" class="nav-link icon"><i
                        class="fa fa-search"></i></a>
                <a [routerLink]="['/calender']" href="javascript:void(0)" class="nav-link icon app_inbox"><i
                        class="fa fa-calendar"></i></a>
                <a [routerLink]="['/contacts']" href="javascript:void(0)" class="nav-link icon xs-hide"><i
                        class="fa fa-id-card-o"></i></a>
                <a [routerLink]="['/chat']" href="javascript:void(0)" class="nav-link icon xs-hide"><i
                        class="fa fa-comments-o"></i></a>
                <a [routerLink]="['/filemanager']" href="javascript:void(0)" class="nav-link icon app_file xs-hide"><i
                        class="fa fa-folder-o"></i></a>
            </div>
        </div>
        <div class="hright">
            <div class="dropdown">
                <a href="javascript:void(0)" class="nav-link icon settingbar"><i
                        class="fa fa-gear fa-spin" data-toggle="tooltip" data-placement="right"
                        title="Settings"></i></a>
                <a href="javascript:void(0)" class="nav-link user_btn" (click)="toggleUserMenu()"><img class="avatar"
                        src="../assets/images/user.png" alt="" data-toggle="tooltip" data-placement="right"
                        title="User Menu" /></a>
                <a href="javascript:void(0)" (click)="toggleMenu()" class="nav-link icon menu_toggle"><i
                        class="fa  fa-align-left"></i></a>
            </div>
        </div>
    </div>
</div>


<div id="left-sidebar" class="sidebar ">
    <h5 class="brand-name">Epic HR</h5>
    <nav id="left-sidebar-nav" class="sidebar-nav">
        <ul class="metismenu">
            <li class="g_heading">Directories</li>
            <!-- Branch page route -->
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="javascript:void(0)" (click)="isBranchCollapsed = !isBranchCollapsed"
                    [attr.aria-expanded]="!isBranchCollapsed" aria-controls="BranchCollapsed"
                    class="has-arrow arrow-c"><i class="fe fe-share-2"></i><span>Branch</span></a>
                <ul class="collapse" id="BranchCollapsed" [collapse]="isBranchCollapsed" [isAnimated]="true">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/branch']" href="javascript:void(0)">Results</a></li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/branch-add']" href="javascript:void(0)">Add Branch</a></li>
                </ul>
            </li>
            <!-- Grade Page  nav Route -->
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="javascript:void(0)" (click)="isGradeCollapsed = !isGradeCollapsed"
                    [attr.aria-expanded]="!isGradeCollapsed" aria-controls="GradeCollapsed"
                    class="has-arrow arrow-c"><i class="fe fe-inbox"></i><span>Grade</span></a>
                <ul class="collapse" id="GradeCollapsed" [collapse]="isGradeCollapsed" [isAnimated]="true">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/grade']" href="javascript:void(0)">Results</a></li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/grade-add']" href="javascript:void(0)">Add Grade</a></li>
                </ul>
            </li>
            <!-- Holiday Page  nav Route -->
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="javascript:void(0)" (click)="isHolidayCollapsed = !isHolidayCollapsed"
                    [attr.aria-expanded]="!isHolidayCollapsed" aria-controls="HolidayCollapsed"
                    class="has-arrow arrow-c"><i class="fe fe-watch"></i><span>Holiday</span></a>
                <ul class="collapse" id="HolidayCollapsed" [collapse]="isHolidayCollapsed" [isAnimated]="true">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/holiday']" href="javascript:void(0)">Results</a></li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/holiday-add']" href="javascript:void(0)">Add Holiday</a></li>
                </ul>
            </li>
            <!-- Class Page  nav Route -->
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="javascript:void(0)" (click)="isModeCollapsed = !isModeCollapsed"
                    [attr.aria-expanded]="!isModeCollapsed" aria-controls="ModeCollapsed"
                    class="has-arrow arrow-c" ><i class="fe fe-package"></i><span>Mode</span></a>
                <ul class="collapse" id="ModeCollapsed" [collapse]="isModeCollapsed" [isAnimated]="true">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                        [routerLink]="['/mode']" href="javascript:void(0)">Results</a></li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/mode-add']" href="javascript:void(0)">Add Mode</a></li>
                </ul>
            </li>
            <!-- Class Page  nav Route -->
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="javascript:void(0)" (click)="isStatusCollapsed = !isStatusCollapsed"
                    [attr.aria-expanded]="!isStatusCollapsed" aria-controls="StatusCollapsed"
                    class="has-arrow arrow-c" ><i class="fe fe-shopping-bag"></i><span>Status</span></a>
                <ul class="collapse" id="StatusCollapsed" [collapse]="isStatusCollapsed" [isAnimated]="true">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                        [routerLink]="['/status']" href="javascript:void(0)">Results</a></li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/status-add']" href="javascript:void(0)">Add Status</a></li>
                </ul>
            </li>
            <!-- Class Page  nav Route -->
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="javascript:void(0)" (click)="isClassCollapsed = !isClassCollapsed"
                    [attr.aria-expanded]="!isClassCollapsed" aria-controls="ClassCollapsed"
                    class="has-arrow arrow-c" [routerLink]="['/class']" ><i class="fe fe-file-text"></i><span>Class</span></a>
                <ul class="collapse" id="ClassCollapsed" [collapse]="isClassCollapsed" [isAnimated]="true">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu list-b"
                            [routerLink]="['/class-add']" href="javascript:void(0)">Add Class</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>